html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 20% repeat(4, 20%);
}

.side-bar {
    background-color: rgb(76, 143, 210);
    color: black; 
    grid-column: 1 / 2;
    grid-row: 1 / 6;

}

.header {
    margin-left: 20px;
    margin-top: 10px;
    background: white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 40px 70% 40px 60px 90px;
    grid-template-rows: repeat(1, 50px);
}
.bottom_head {
    display: grid;
    grid-template-columns: 50px 500px repeat(3, 100px);
    grid-template-rows: 50px;
}
.bar {
    background-color: rgb(186, 186, 186);
    border-radius: 30px;
    width: 500px;
    height: 25px;
    margin-top: 10px;
}

.greeting h2 {
    margin-top: 0px;
}

.greeting p {
    margin-bottom: 5px;
}

.action {
    border-radius: 30px;
    margin: 5px;
    color: white;
    background-color:  rgb(76, 143, 210);
}

#profile-pic {
    border-radius: 20px;
    width: 50px;
    height: 50px;
}

.action {
    margin-top: 30px;
    height: 40px;
}

.info {
    background: rgb(211, 216, 218);
    grid-column: 2 / 3;
    grid-row: 2 / 6;
}

img {
    width: 25px;
    height: 25px;
    margin-top: 10px;
}


.dash, .general, .nav {
    display: grid;
    grid-template-columns: repeat(2, 45px);
    grid-template-rows: repeat(6, 1fr);
    margin-left: 10px;
}

.general {
    margin-top: 30px;
    grid-template-rows: repeat(3, 1fr);
}

.dash {
    grid-template-rows: 1fr;
}

.dash img {
    width: 40px;
    height: 40px;
}